<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    <title>Tic Tac Toe</title>
</head>
<body>
    <h1>TIC TAC TOE !</h1>
    <p th:text="'Player_1 = ' + ${player1} " />
    <p th:text="'Player_2 = ' + ${player2} "  />

    <div class="taula">
        <table>
            <tbody>
            <th:block th:each="row: ${board.getTaulell()}">
                <tr>
                    <th:block th:each="value:${row}">
                        <td>
                            <span th:text="${value}"></span>
                        </td>
                    </th:block>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <form class="p1" action="/" method="post">
        <p th:text="'Player_1 = ' + ${player1.getUser_name()} " />
        <input type="number" id="pos1" name="pos1" min="1" max="9">
        <input  class="btn btn-primary" type="submit" value="Submit">
    </form>
    <form class="p2" action="/" method="post">
        <p th:text="'Player_2 = ' + ${player2.getUser_name()} " />
        <input type="number" id="pos2" name="pos2" min="1" max="9">
        <input  class="btn btn-primary" type="submit" value="Submit">
    </form>
 </body>
 </html>